<div class="title">
    <h2>Favorites</h2>
</div>


<div *ngFor="let ticket of FavList">
            <div class="wrapper">
            
            <div class="rows">
                <b>Ticket #:  </b>{{ticket.ticket_id}}<br>
            </div>

            <div class="rows">
                <b>Requester:  </b>{{ticket.requester}} <br>
            </div>
            <div class="rows">
                <b>Phone:  </b>{{ticket.phone}}<br>
            </div>
            <div class="rows">
                <b>Email:  </b>{{ticket.email}}<br>
            </div>
            <div class="rows">
                <b>Resolved:  </b>{{ticket.resolved}}<br>
            </div>
            <div class="rows">
                <b>Resolved by:  </b>{{ticket.resolvedby}}<br>
            </div>
            <div class="rows">
                <b>Favorite:  </b>{{ticket.isfavorite}}<br>
            </div>
            <button (click)="removeFav(ticket)">Remove From Favorites</button>
        </div>
        </div>

<!-- <div>
    <ng-container *ngFor="let fav of FavList">
        <app-favorties-detail [favorite]="fav" 
            (delete)="deleteOne($event)" 
            (update)="updateOne($event)"></app-favorties-detail>
    </ng-container>
    </div>

<div>
                {{ticket.requester}} <br>
            </div>
            <div>
                {{ticket.problemdetails}}<br>
            </div>
-->