 button {
    border: .5;
    border-radius: 25px;
    padding: 0px 15px;
    margin: 8px 10px 0 0;
    background-color: rgb(255, 255, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }

 .wrapper {
    width: 25%;
    margin: 30px;
}