<div class="wrapper" *ngIf="!editMode">
    
            <div class="rows">
                <b>Ticket #:</b>  {{ ticket.ticket_id }}
            </div>

            <div class="rows">
                <b>Requester:</b>  {{ ticket.requester }}
            </div>
            
            <ng-container *ngIf="showMore">
                <div class="rows">
                    <b>Details:</b> {{ ticket.problemdetails}}                
                </div>
            </ng-container>
            
            <ng-container *ngIf="showMore">
                <div class="rows">
                    <b>Phone:</b>  {{ ticket.phone}}          
                </div>
            </ng-container>

            <ng-container *ngIf="showMore">
                <div class="rows">
                    <b>Email:</b> {{ ticket.email}}
                </div>
            </ng-container>

            <ng-container *ngIf="showMore">
                <div class="rows">
                    <b>Resolved:</b>  {{ ticket.resolved}}
                </div>
            </ng-container>

            <ng-container *ngIf="showMore">
                <div class="rows">
                    <b>Resolved By:</b> {{ ticket.resolvedby}}
                </div>
            </ng-container>

            <ng-container *ngIf="showMore">
                <div class="rows">
                    <b>Notes:</b>  {{ ticket.resnotes}}
                </div>
            </ng-container>

            <ng-container *ngIf="showMore">
                <div class="rows">
                    <b>Favorite:</b>  {{ ticket.isfavorite}}
                </div>
            </ng-container>

            <!-- <div>
            <ng-container *ngIf="showMore">
                <Button (click)="addToFavorites()">Add To Favorites</Button>
            </ng-container>
            </div> -->
    
            <ng-container *ngIf="showMore"><button (click)="showLess()">Show Less</button></ng-container>
    <ng-container *ngIf="showMore"><button (click)="turnOnEdit()">Edit</button></ng-container>
    <ng-container *ngIf="!showMore"><button (click)="details()">Details</button></ng-container>
    <ng-container *ngIf="showMore"><button (click)="deleteMe()">Delete</button></ng-container>

    <Button (click)="addFav(this.ticket)">Add To Favorites</Button>
</div>

<div class="wrapper" *ngIf="editMode">
      <!--   <div class="rows">
            <b>Ticket:</b> <input type="text" [(ngModel)]="editObj.ticket_id"> 
        </div> -->
        <div class="rows">
            <b>Requester:</b> <input type="text" [(ngModel)]="editObj.requester">
        </div>
        <div class="rows">
            <b>Details:</b> <input type="text" [(ngModel)]="editObj.problemdetails"> 
        </div>
        <div class="rows">
            <b>Phone:</b> <input type="text" [(ngModel)]="editObj.phone">
        </div>
        <div class="rows">
            <b>Email:</b> <input type="text" [(ngModel)]="editObj.email"> 
        </div>
        <div class="rows">
            <b>Resolved:</b> <input type="checkbox" [(ngModel)]="editObj.resolved"> 
        </div>
        <div class="rows">
            <b>Resolved By:</b> <input type="text" [(ngModel)]="editObj.resolvedby"> 
        </div>
        <div class="rows">
            <b>Notes:</b> <input type="text" [(ngModel)]="editObj.resnotes">
        </div>
        <div class="rows">
            <b>Favorite</b> <input type="checkbox" [(ngModel)]="editObj.isfavorite"> 
        </div>
    <button (click)="saveChanges()">Save</button>
    <button (click)="cancel()">Cancel</button>
</div>